

<div class="cont">

  <div itemscope itemtype="https://schema.org/Product" *ngFor="let art of articulos " class="card ">
    <article>
      <a [routerLink]="['/card', art.id]">
        <img itemprop="image" [src]="art.data.link" class="card-img-top" alt={{art.data.subtitulo}}>
      </a>

      <div class="card-body">
        <h5 itemprop="name" class="card-title">{{art.data.titulo}}</h5>
        <p itemprop="description" class="card-text">{{art.data.descripcion}}</p>
      </div>

      <div  class="oc" style="display: none;">
        <p class="card-text">{{art.data.descripcion}}</p>
        <div >
          <span >Picth Tempo</span>
        </div>

        <div itemprop="review" itemscope itemtype="https://schema.org/Review">
          <span itemprop="name">{{art.data.titulo}}</span>
          <span itemprop="author">Picth Tempo</span>
          <p class="card-text">{{art.data.descripcion}}</p>
        </div>

      </div>


      <span itemprop="url" style="display: none;">{{linkC+art.id}}</span>
      <a (click)="setId(art.id)"  class="btn btn-p" [routerLink]="['/card', art.id]">Ver más ...</a>

      <div *ngIf="clave" class="buttons">
        <input class="button green" (click)="editar(art.id)" type="button" value="Editar">
        <input class="button red" (click)="eliminar(art.id)" type="button" value="Borrar">
      </div>
    </article>

  </div>
</div>


