

<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <li class="">
        <a class="nav-links" aria-current="page" routerLink="/">Home</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="/tienda">Tienda</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="/servicio-tecnico">Serv-Técnico</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="/admin">Más..</a>
      </li>
    </ul>
  </nav>
</div>
