
.respmenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-bottom: 2px solid #456789;
  min-width: 250px;
  background: #234567;
  font-variant: small-caps;
  text-shadow: 1px 1px black;
}


.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

.respmenu .fa-bars, .respmenu .fa-times {
  font-size: 48px;
  pointer-events: none;
}

.respmenu input[type="checkbox"] {
  opacity: 0;
}

.respmenu {
  display: none;
  color: #51b8d7;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: transparent;
  min-height: 48px;
  z-index: 150;
}
a{
  font-size: 1.5rem;
  opacity: 1;
  font-weight: 800;
  color: #39bceb;
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
  display: none;
}

ul:first-child{
  margin-top: 48px;
}

@media screen and (max-width: 969px) {
  .respmenu {
    display: block;
  }
}

