

<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"><img width="48px" height="48px" src="../../assets/menu.png" alt="icono menu"></i>
  <i class="fas fa-times"><img width="40px" height="40px" src="../../assets/close.png" alt="icono menu"></i>
  <nav>
    <ul>
      <li class="">
        <a class="nav-links" aria-current="page" routerLink="/">Home</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="/tienda">Tienda</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="/servicio-tecnico">Serv-Técnico</a>
      </li>
    </ul>
  </nav>
</div>
