

<app-menu-h></app-menu-h>



<div class="card">
  <div class="card-body">
    <h1 class="card-title">REPARACIONES Y MANTENIMIENTO PREVENTIVO</h1>
    <h2 class="card-subtitle ">Servicio para todas las marcas importantes del mercado</h2>
    <p class="card-text">El procedimiento consta de: Recuperacion de pistas aisladas o reventadas, reparación de masas en corto, lubricación y mantenimiento a los 2 Jog's, revisión de 1 a 1 de  los pulsadores igual a los leds y los potenciómetros, revisamos los Chanel faders y los Pitch Tempo en las plumillas y las pistas de carbono <b>la cual no siempre requieren de cambiar la pieza como tal</b>, se revisa la fuente de energía y la fuente de audio en las salidas XLR, RCA Y JACK, lavado de la carcasa y sus fichas.
    </p>
  </div>
</div>
<div class="slider" >
  <ul>
    <li>
      <h5>El procedimiento de cada máquina es de 1 a 2 días.</h5>
    </li>
    <li>
      <h5>Si no puede o no tiene tiempo de venir hasta aquí, tenemos el servicio de domicilio recogida y entrega segura de su equipo.</h5>
    </li>
    <li>
      <h5>Valor del servicio es de $30.000 que deben ser consignados a la Cuenta de ahorros Bancolombia
        60946793151 o Nequi 3008120002</h5>
    </li>
    <li>
      <h5>El procedimiento de cada máquina es de 1 a 2 días.</h5>
    </li>
  </ul>
</div>


<app-cards [filtro]="filtro"></app-cards>
