

<div itemscope itemtype="https://schema.org/Store" class="picth">
  <div class="card">
    <div class="card-body">
      <h1 itemprop="name" class="card-title">PICTH TEMPO VENTAS</h1>
      <meta itemprop="openingHours" content="Mo,Tu,We,Th,Fr,Sa,Su 09:00-23:00">
      <h2 itemprop="slogan" class="card-subtitle ">Nuestra tienda y productos</h2>
      <p itemprop="description" class="card-text">Catalogo de nuestros productos de alta calidad y productos  importados originales, accesorios para consolas, audifonos DJ, <strong>Fuentes</strong>,boards, bases para pc y más
      </p>
      <div style="display: none;" class="im">
        <img itemprop="image" src="../../assets/icno.png" alt="logo picth tempo">
        <img itemprop="logo" src="../../assets/icno.png" alt="logo picth tempo">
        <span itemprop="url" >www.picthtempo.com</span>
      </div>
    </div>
  </div>
</div>

<div class="list">
  <ul class="ul">

    <li class="li">
      <a routerLink="/accesorios">Equipos</a>
    </li>
    <li class="li">
      <a routerLink="/cubiertas" >Covers</a>
    </li>
    <li class="li">
      <a routerLink="/cables">Cables</a>
    </li>
    <li class="li">
      <a routerLink="/importaciones">Importaciones</a>
    </li>
    <li class="li">
      <a routerLink="/audifonos">Audifonos</a>
    </li>
    <li class="li">
      <a routerLink="/bases-laptop">Bases Laptop</a>
    </li>
    <li class="li">
      <a routerLink="/pulsadores">knobs/faders/picth</a>
    </li>
  </ul>
</div>





