
.cardfull, .relacionados{
  font-family: system-ui,-apple-system;
  margin: 2rem;
  background-color: #fff;

}
.content{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.card-body{
  overflow-x: auto;
  width: 50%;
  padding: 1rem 1rem;
}
.card-body a{
  color: #bb432a;
  position: absolute;
  margin-top: 1rem;
  right: 2rem;
  font-size: larger;
  font-style: italic;
  font-weight: 700;
}
.img{
  width: 50%;
  padding: 1rem 1rem;
}
.img img {
  width: 100%;
  border-radius: 10px;
}

.card-title{
  font-size: calc(1.375rem + 1.5vw);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: .5rem;
  color: #212529;
}
.card-subtitle{
  color: #6c757d!important;
  font-size: 2rem;
}

.foot{
  width: 100%;
  height: 3rem;
}


.minicontent{
  width: 10rem;
  height: 15rem;
  margin: 10px;
  padding: 4px;
  border: solid 2px #a4c611;
  font-size: 70%;
  border-radius: 15px;
  overflow: auto;
}
.minicontent::-webkit-scrollbar {
  display: none;
}
.minicontent .img{
  width: 100%;
  padding: 0%;
}
.desc{
  padding: 5px;
}
.desc h3{
  color: #a0a0a0;
}
h5 {
  font-family:system-ui,-apple-system ;
}

.relacionados{
  overflow-y: auto;
  border: solid #37beef;
  background-color: #ffffff;
  color: black;
  justify-content: center;
}

@media screen and (max-width: 845px) {
  .content{
    flex-direction: column;
  }
  .card-body{
    width: 100%;
  }
  .img{
    width: 100%;
  }

}
