

<app-menu-h></app-menu-h>


<div class="cardfull" style="position: relative;">
  <div class="content">

    <div class="img">
      <img  [src]="card[0].data.link" alt="">
    </div>

    <div class="card-body">
      <h1 class="card-title">{{card[0].data.titulo}}</h1>
      <h2 class="card-subtitle ">{{card[0].data.subtitulo}}</h2>
      <p class="card-text">{{card[0].data.descripcion}}</p>

      <div class="foot">
        <a class="btn btn-primary" routerLink="/">Volver atrás</a>
      </div>
    </div>
  </div>

  <div class="text"><h5>RELACIONADOS:</h5></div>

  <div class="relacionados" style="display: flex;">
    <div *ngFor="let item of articulos" class="minicontent">
      <div class="img">
        <img [src]="item.data.link" alt="">
      </div>
      <div class="desc">
        <h2>{{item.data.titulo}}</h2>
        <h3>{{item.data.subtitulo}}</h3>
      </div>
    </div>
  </div>

</div>
