.card-adm {
  font-family: system-ui,-apple-system;
  font-size: larger;
  font-weight: 500;
  z-index: 101;
  position: relative;
  background: #36393e;
  width: 90%;
  margin: 2rem auto;
  border-radius: 28px;
  border: solid #d1d1d1;
}

h3 {
  font-size: 150%;
  padding: 2rem;
  text-align: center;
}


label{
display: block;
margin: .5rem;
}
input{
  width: 100%;
  padding: .5rem 0;
  margin-bottom: .5rem;
}
textarea {width: 100%;}
.enviar {
  background-color: #95ca43;
  width: 50%;
  margin: 1rem auto;
  color: white;
  border-radius: 16px;
  font-size: 18px;
}
.pd1r{
  padding: 1rem;
}
.img5{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
}


.sel {
  border: solid blue;
  display: flex;
  justify-content: center;
  padding:1rem 0 2rem 0;
}
.form-g {
  padding: 1rem;
}

#porcentbar{
  background-color: #39bceb;
  height: 15px;
}

/* modal*/

.bgnone{
  display: none;
}

.opt{
  display: flex;
  justify-content: center;
}
.editarImg {
  background-color: #36393e;
  border: solid;
  color: #da3e18;
  margin-bottom: 1rem;
}

.redes2 {
  display: flex;
  justify-content: center;
}
.close {
  padding: 9px;
  background-color: #39bceb;
  border-radius: 16px;
  color: white;
  width: 50%;
  border-color: white;
  margin-bottom: 16px;
  font-weight: 700;
}
