
<app-menu-h></app-menu-h>



<div class="card-adm">
  <div class="cab">
    <h3>CMS Adminitrador de contenidos</h3>
  </div>
  <div class="redes2">
    <input class="close" type="submit" value="Cerrar Sección" (click)="cerrarSec()">
  </div>

  <div class="card-body">
    <div class="sel">
      <label for="select">Pagina a administrar: </label>
      <select name="select" [(ngModel)]="articulo.pagina">
        <option value="home" >Home</option>
        <option value="accesorios" >accesorios y equipos</option>
        <option value="servicio" >Servicio tecnico</option>
        <option value="repuestos" >Repuestos</option>
        <option value="">Cerrar</option>
      </select>
    </div>

    <div class="opt">
      <a class="editarImg" href="https://imageresizer.com/bulk-resize" target="_blank">Optimizar imagenes!!!</a>
    </div>

    <div class="form-g" *ngIf="articulo.pagina">
      <form (ngSubmit)="addArticulos()">
        <label for="imagen">Imagen</label>
        <input type="file" accept=".png, .jpg, .jpeg" #inputimg name="imagen" id="imagen" (change)="handleImg($event)">

          <div id="porcent" *ngIf="uploadPercent" >{{ uploadPercent | async }} % </div>
          <div id="porcentbar" role="progressbar" *ngIf="uploadPercent" [style.width]="(uploadPercent | async)+'%'" ></div>
          <div class="cont">
            <span *ngIf="linnkImg">Imagen cargada con éxito!</span>
          </div>
          <div class="im" style="display: flex; justify-content: center;">
            <img *ngIf="linnkImg" [src]="linnkImg" alt="" style="width: 15rem;margin: 1rem auto;">
          </div>

          <label for="titulo">Nombre</label>
          <input type="text" name="titulo" id="titulo" placeholder="Nombre o Titulo" [(ngModel)]="articulo.titulo">
          <label for="indice">Indice</label>
          <input type="text" name="indice" id="indice" placeholder="Numero de prioridad- a menor # mayor prioridad" [(ngModel)]="articulo.indice">
          <label for="subt">Subtitulo</label>

          <div class="sel">
            <label for="select2">Tipo </label>
            <select name="select2" [(ngModel)]="articulo.tipo">
              <option value="cables" >Cables</option>
              <option value="cover" >Cover</option>
              <option value="accesorios" >Accesorios</option>
              <option value="tarjetas" >Tarjetas</option>
              <option value="picth" >Picth</option>
              <option value="pulsadores" >Pulsadores</option>
              <option value="nobs" >Nobs</option>
              <option value="faders" >Faders</option>
              <option value="fuentes" >Fuentes</option>
              <option value="board" >Boards</option>
              <option value="cable-audifono" >Cables Audifonos</option>
              <option value="almohadillas" >Almohadillas</option>
              <option value="bases-pc" >Bases PC</option>
              <option value="audifonos" >Audifonos</option>
              <option value="">Cerrar</option>
            </select>
          </div>


          <input type="text" name="subtitulo" id="subtitulo" [(ngModel)]="articulo.subtitulo">
          <label for="precio">Precio</label>
          <input type="text" name="precio" id="precio" [(ngModel)]="articulo.precio">
          <label for="descripcion">Descripción</label>
          <textarea name="descripcion" id="descripcion" cols="70" rows="10" [(ngModel)]="articulo.descripcion"></textarea>
        <div class="env" style="display: flex;">
          <input *ngIf="linnkImg && articulo.titulo && articulo.descripcion " type="submit" class="enviar" value="Enviar" >
        </div>
      </form>
    </div>

  </div>
</div>


<app-cards [clave]='passp' [funt]="modEditar"></app-cards>

