



<div class="conten-nav" style="width: 100%;" >
  <img src="../../assets/banner-7.jpeg" class="img-fondo" alt="">


<nav class="navbar" style="position: relative; z-index: 101;">

  <div class="icono">
    <img src="../../assets/icno.png" alt="pitch-tempo icono">
  </div>

  <div class="content-link">
    <ul class="ul ul-bar">
      <li class="">
        <a class="nav-links" aria-current="page" routerLink="/">Home</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="/tienda">Tienda</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="/servicio-tecnico">Serv-Técnico</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="login">Más..</a>
      </li>
    </ul>
  </div>

  <div class="m-h">
  </div>

</nav>
<div class="addre" style="display: flex;justify-content: center; margin-bottom: 1.5rem;">
 <address class="min-bar" style="position: relative;">

  <div style="display: flex;align-items: center;padding: 10px;">
      <ul class="ul">
        <li class="li">
          <a target="_blank" href="https://www.google.com/maps/place/Cra.+51+%2383-27,+Itagüi,+Medellín,+Antioquia/@6.1900149,-75.5930671,19z/data=!3m1!4b1!4m5!3m4!1s0x8e46826bcdea3b1f:0x8299b799b60564ea!8m2!3d6.1900149!4d-75.5925199?hl=es"><img  class="min-icono" style="margin-right:5px;" src="../../assets/map.png" alt="icono de mapa"><span class="spanredes"> Donde estamos?</span></a>
        </li>
        <li class="li li-cel">
          <a href="https://api.whatsapp.com/send?phone=573008120002" target="_blank">Tel-300 812 0002</a>
        </li>
      </ul>


    <div class="redes">
      <ul class="ulred">
        <li class="li">
          <a href="https://api.whatsapp.com/send?phone=573008120002" target="_blank"><img class="min-icono" src="../../assets/whatsapp.png" alt="icono de whatsapp"></a>
        </li>
        <li class="li">
          <a target="_blank" href="http://www.facebook.com/pitchtempo.reparacionesdj.3"><img class="min-icono" src="../../assets/facebook.png" alt="icono de facebook"></a>
        </li>
        <li class="li">
          <a href="pitchtemporeparacionesdjs@gmail.com"><img class="min-icono" src="../../assets/gmail.png" alt="icono de gmail"></a>
        </li>
      </ul>
    </div>
  </div>
</address>
</div>




</div>



