
/*****************   min-width: **********************/
.img-fondo{
  width: 100%;
  height: auto;
  top: 0;
  z-index: 0;
  position: absolute;
}
/***************************************/

.navbar{
  display: grid;
  grid-template-columns: [x1]1fr [x2]1fr [x3];
  grid-template-rows: [y1] 1fr [y2];
  padding-top: 0;
  border-bottom: 2px solid #a3c517;
  z-index:101;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}
.min-bar{
  margin: 0 auto;
  min-width: max-content;
  display: inline-block;
  grid-row: y1;
  grid-column-start: x1;
  grid-column-end: x3;

}
.icono {
  z-index: inherit;
  justify-content: flex-start;
  display: flex;
  grid-row: y2;
  grid-column-start: x1;
  grid-column-end: x2;
  margin: 1rem 0 1rem 3rem ;
}
.content-link {
  justify-content: flex-end;
  display: flex;
  grid-row: y2;
  grid-column-start: x2;
  grid-column-end: x3;
  margin-right: 4rem;
  z-index: inherit;
  align-items: center;
}
.icono img {
  width: 90%;
  height: auto;
}
/***************************************/


a{
  font-size: 1.5rem;
  opacity: 1;
  font-weight: 800;
  color: #39bceb;
}
.container-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}

.card {
  z-index: inherit;
  background-color: rgba(250, 250, 250, 0.6);
}
h1{
  font-weight: 900;
}
address{
  margin:0 9rem;
  z-index: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}
.ml {
  margin-left: 3rem;
}
address a{
  color: #e63b12;
  align-items: center;
  font-size: 1.3rem;
  text-decoration: none;
  display: flex;
}

.redes{
  align-self: center;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-left: auto;
  font-size: 1rem;
}
.redes a {
  color: #e63b12;
  font-size: 1.7rem;
}
.ul, .ulred{
  margin: 0;
  list-style: none;
  display: inline-flex;
}
.li {
  margin: 0 .5rem;
}
.nav-links{
  margin: 1rem .5rem;
  display: flex;
  text-decoration: none;
}
.nav-links a {
  font-size: 1.7rem;
  font-weight: 600;

}
.m-h{
  display: none;
}

.min-icono{
  width: 24px;
  height: 24px;
  background-color: #e63b12;
  padding: 2px;
  border-radius: 50%;
}

/*//////////////////////menu h/////////////////////////////////////*/


@media screen and (max-width: 969px) {
  .navbar{
    grid-template-columns: [x1]1fr;
    grid-template-rows: [y1] 1fr [y2] auto [y3];
  }
  .min-bar{
    grid-row: y1;
    grid-column-start: x1;
    grid-column-end: x2;
  }
  .icono{
    margin-left: 0;
    justify-content: center;
    grid-row: y2;
    grid-column-start: x1;
    grid-column-end: x2;
  }
  .content-link{
    justify-content: center;
    grid-row: y3;
    grid-column-start: x1;
    grid-column-end: x2;
  }
  .ul-bar{
    display: none;
  }
}


@media screen and (max-width: 630px) {
  .li-cel {
    display: none;
  }
  .content-link {
    margin: 0;
  }
  a {
    font-size: 1.3rem;
  }
  .ul-bar{
    display: none;
  }

  .m-h{
    display: block;
  }

}

@media screen and (max-width: 507px) {
  .conten-nav {
    width: auto;
    height: 249px;
  }
  .ul {
    margin: 0 auto;
  }

  .conten-nav * {
    min-width: none;
  }
  .icono img {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  address a{
    font-size: 1rem;
  }
  .redes a {
    font-size: 1.5rem;
  }
  a{
    font-size: 1rem;
  }
}
