

<app-menu-h></app-menu-h>


<div id="card" class="cardfull" style="position: relative;">
  <div class="content" itemscope itemtype="https://schema.org/Product" >

    <div class="img">
      <img itemprop="image" [src]="card[0].data.link" [alt]="card[0].data.titulo">
    </div>

    <div itemprop="review" itemscope itemtype="https://schema.org/Review" style="display: none;">
      <span itemprop="name">{{card[0].data.titulo}}</span>
      <span itemprop="author">Picth Tempo</span>
      <p itemprop="reviewBody" class="card-text">Producto de Picth tempo Reparaciones</p>
    </div>

    <div class="card-body">
      <h1 class="card-title">{{card[0].data.titulo}}</h1>
      <h2 class="card-subtitle ">{{card[0].data.subtitulo}}</h2>
      <div class="color mt1" *ngIf="card[0].data.color">
        <h5>Colores Disponibles</h5>
        <p>{{card[0].data.color}}</p>
      </div>
      <p itemprop="description" class="card-text mt1">{{card[0].data.descripcion}}</p>


      <div style="display: none;" class="x">
        <a itemprop="url" href={{linkURL}}></a>
        <span itemprop="name" >Picth Tempo</span>
      </div>

     <!--  <hr class="mt1"> -->
      <h3 class="mt1">Más Referencias:</h3>
      <div class="cont-ref">

        <div class="ref-card" *ngIf="card[0].data.mas.linkImg1">
          <h4>{{card[0].data.mas.desc1}}</h4>
          <img [src]="card[0].data.mas.linkImg1" [alt]="card[0].data.mas.desc1">
        </div>

        <div class="ref-card" *ngIf="card[0].data.mas.linkImg2">
          <h4>{{card[0].data.mas.desc2}}</h4>
          <img [src]="card[0].data.mas.linkImg2" [alt]="card[0].data.mas.desc2">
        </div>

        <div class="ref-card" *ngIf="card[0].data.mas.linkImg3">
          <h4>{{card[0].data.mas.desc3}}</h4>
          <img [src]="card[0].data.mas.linkImg3" [alt]="card[0].data.mas.desc3">
        </div>

        <div class="ref-card" *ngIf="card[0].data.mas.linkImg4">
          <h4>{{card[0].data.mas.desc4}}</h4>
          <img [src]="card[0].data.mas.linkImg4" [alt]="card[0].data.mas.desc4">
        </div>

        <div class="ref-card" *ngIf="card[0].data.mas.linkImg5">
          <h4>{{card[0].data.mas.desc5}}</h4>
          <img [src]="card[0].data.mas.linkImg5" [alt]="card[0].data.mas.desc5">
        </div>

      </div>


      <div class="foot">
        <a class="btn btn-primary" routerLink="/">Volver atrás</a>
      </div>
    </div>
  </div>

  <div class="text"><h5>RELACIONADOS:</h5></div>

  <div class="relacionados" style="display: flex;flex-wrap: wrap;">
    <div *ngFor="let item of articulos" class="minicontent">

        <div class="img" (click)="reload(item.id)">
          <img [src]="item.data.link" [alt]="item.data.titulo">
        </div>

      <div class="desc">
        <h2>{{item.data.titulo}}</h2>
        <h3>{{item.data.subtitulo}}</h3>
      </div>
    </div>
  </div>


</div>
