

<app-menu-h></app-menu-h>

<div itemscope itemtype="https://schema.org/Store" class="picth">
  <div class="card">
    <div class="card-body">
      <h1 itemprop="name" class="card-title">PICTH TEMPO REPARACIONES</h1>
      <meta itemprop="openingHours" content="Mo,Tu,We,Th,Fr,Sa,Su 09:00-23:00">
      <h2 itemprop="slogan" class="card-subtitle ">Empresa al servicio del mundo DJ</h2>
      <p itemprop="description" class="card-text">Servicio y excelencia en reparación, mantenimiento y personalización de consolas y equipos DJ de marcas como: <strong>Denon</strong>, <strong>Rollan</strong>, <strong>Numark</strong>, <strong>Gemini</strong>, <strong>Rane</strong>...
      </p>
      <div style="display: none;" class="im">
        <img itemprop="logo" src="../../assets/icno.png" alt="logo picth tempo">
      </div>

      <address class="addre" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="streetAddress">Cra 51 #83-21</span>,
        <span itemprop="addressLocality">Medellín</span>,
        <span itemprop="addressRegion">Antioquia</span>,
        <span itemprop="addressCountry">COL</span>
        <a class="ver" itemprop="hasMap" href="https://www.google.com/maps/place/Cra.+51+%2383-27,+Itagüi,+Medellín,+Antioquia/@6.1900149,-75.5930671,19z/data=!3m1!4b1!4m5!3m4!1s0x8e46826bcdea3b1f:0x8299b799b60564ea!8m2!3d6.1900149!4d-75.5925199?hl=es" target="_blank" rel="noopener noreferrer"><b> Ver mapa</b></a>
        <p>Horarios de atención: <span itemprop="openingHours" content="Mo-Su 09:00-23:00">Lun-Dom 9am-11pm</span></p>
        <p>Contacto: <span itemprop="telephone" content="+1573008120002">300 812 0002</span></p>
      </address>
    </div>
  </div>

  <div class="main" >
    <div class="cont-anim">
      <div class="subcont">
        <div class="titulo">
          <h3>NUESTROS PRODUCTOS :.<span>&#160;</span></h3></div>
          <div class="sp">
            <span class="subt">Picth Tempo Reparaciones</span>
          </div>
        </div>
      </div>

    <div class="cont" style="display: flex;
    justify-content: center;">
      <li class="lista">
        <ul>
          <img src="../../assets/fav.png" alt="icono picth"><h2>Servicio técnico por daños y mantenimiento preventivo</h2>
        </ul>
        <ul>
          <img src="../../assets/fav.png" alt="icono picth"><h2>Venta e importación de toda clase de tarjetas para equipos</h2>
        </ul>
        <ul>
          <img src="../../assets/fav.png" alt="icono picth"><h2>Venta de equipos nuevos y de segunda</h2>
        </ul>
        <ul>
          <img src="../../assets/fav.png" alt="icono picth"><h2>Cubiertas tipo Cover para equipos DJ</h2>
        </ul>
        <ul>
          <img src="../../assets/fav.png" alt="icono picth"><h2>Fabricamos toda clase de clases de alta calidad y a medida</h2>
        </ul>
        <ul>
          <img src="../../assets/fav.png" alt="icono picth"><h2>Skin y personalización de equipos</h2>
        </ul>
        <ul>
          <img src="../../assets/fav.png" alt="icono picth"><h2>Venta de Picths, Knobs, Faders y Pulsadores</h2>
        </ul>
      </li>


    </div>
  </div>
</div>

 <app-cards></app-cards>
