.card {
  font-family:  system-ui;
  max-width: 35rem;
  margin: 2rem ;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 40rem;
  position: relative;
  z-index: 101;

}
.card-body{
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title{
  font-size: calc(1.375rem + 1.5vw);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: .5rem;
  color: #212529;
}
.card-subtitle{

  color: #6c757d!important;
  font-size: 2rem;
}

.main{
  border-radius: 35px;
  padding: 1rem;
  font-family: system-ui;
  position: relative;
  background-color: #3a3b40;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: groove;
  margin-bottom: 2rem;
}

.main ul {
  margin-left: 2rem;
  display: flex;
}

.cont-anim{
  margin: 0 auto;
  width: fit-content;
  border: solid 4px black;
}
.subcont{
  padding-bottom: 9px;

}
.cont-anim .subt{
  text-align: center;
  width: 100%;
  color:#a4c61e;
  background-color: black;
  transition: .5s ease all;
  font-size: 3rem;
  letter-spacing: 2px;
}
.cont-anim .subt:hover{
  background-color:#39bceb;
  color:white;
}
.lista{
  border-radius: 27px;
  background-color: rgba(255,255,255,0.5);
  padding: 7px;
  text-align: center;
  display: inline-grid;
  margin-top: .5rem;
}
.lista ul{
  border-radius: 21px;
  margin: 3px 0;
  background-color: rgba(0,0,0, 0.3);
  display: flex;
  align-items: center;
}
.lista img{
  width: 35px;
  border: solid 2px #039be5;
  border-radius: 50%;
  height: 35px;
  align-self: center;
  margin: 4px;
}
.titulo h3{
  margin: 5px;
  font-size: 2rem;
  font-family: monospace;
  margin-bottom: 10px;
  width: fit-content;
  position: relative;
}
.titulo span{
  position: absolute;
  right: 0;
  width: 0;
  background-color: #3a3b40;
  color: black;
  border-left: 2px solid black;

  animation: maquina 8s infinite steps(21);
}
.addre{
  margin-top: 13px;
  border-top: solid 1px;
}
.sp{
  background-color: black;
  display: flex;
}
.ver {
  color: black;
}
.ver:visited {
  color: black;
}
/*-----------------------SEcciones------------------------------------*/
.cont2{
  text-align: center;
}
.cont3 {
  display: list-item;
  justify-content: center;
}
.cont2 h3 {
  background-color: gold;
  color: #fff;
  padding: 1rem;
  font-family: system-ui;
  font-size: 145%;
  width: 80%;
  margin-left: 10%;
  border-radius: 33px;
}


@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}


@media screen and (max-width: 630px) {
  .card {
    width: 90%;
  }
  .card-title{
    font-size: 2rem;
  }
  .card-subtitle{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 435px) {
  .cont-anim{
    width: auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 80%;
  }
  .card-title{
    font-size: 1.5rem;
  }
  .card-subtitle{
    font-size: 1.15rem;
  }
  .titulo h3{
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 360px) {
  .titulo h3{
    font-size: 1.6rem;
  }
}
