

<app-menu-h></app-menu-h>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">PICTH TEMPO REPARACIONES-DJ</h1>
    <h2 class="card-subtitle ">Empresa al servicio del mundo DJ</h2>
    <p class="card-text">Servicio y excelencia en reparación, mantenimiento y personalización de consolas y equipos DJ de marcas como: <b>Denon</b>, <b>Rollan</b>, <b>Numark</b>, <b>Gemini</b>, <b>Rane</b>,<b>Prp</b>
    </p>
  </div>
</div>

<div class="main" >
  <div class="cont-anim">
    <div class="subcont">
      <div class="titulo">
        <h3>NUESTROS PRODUCTOS :.<span>&#160;</span></h3></div>
        <span class="subt">Picth Tempo Reparaciones</span>
      </div>
    </div>

  <div class="cont" style="display: flex;
  justify-content: center;">
    <li class="lista">
      <ul>
        <img src="../../assets/fav.png" alt="icono picth"><h2>Servicio técnico por daños y mantenimiento preventivo</h2>
      </ul>
      <ul>
        <img src="../../assets/fav.png" alt="icono picth"><h2>Venta e importación de toda clase de tarjetas para equipos</h2>
      </ul>
      <ul>
        <img src="../../assets/fav.png" alt="icono picth"><h2>Venta de equipos nuevos y de segunda</h2>
      </ul>
      <ul>
        <img src="../../assets/fav.png" alt="icono picth"><h2>Cubiertas tipo Cover para equipos DJ</h2>
      </ul>
      <ul>
        <img src="../../assets/fav.png" alt="icono picth"><h2>Fabricamos toda clase de clases de alta calidad y a medida</h2>
      </ul>
      <ul>
        <img src="../../assets/fav.png" alt="icono picth"><h2>Skin y personalización de equipos</h2>
      </ul>
      <ul>
        <img src="../../assets/fav.png" alt="icono picth"><h2>Venta de Picths, Knobs, Faders y Pulsadores</h2>
      </ul>
    </li>


  </div>
</div>


 <app-cards></app-cards>
